<section class="footer">
  <div class="wrapper">
    <div class="footer__rights">
      <p>Все права защищены</p>
      <p>@2021 GumusCorp</p>
    </div>
    <div class="footer__rights">
      <p>myemail@gmail.com</p>
      <p>+7 888 888 88 888</p>
    </div>
  </div>
</section>