<header class="header">
  <div class="wrapper">
    <div class="logo">
      <a href="/" class="logo-link">
        Ssecurity
      </a>
    </div>
    <nav class="navigate-menu">
      <ul class="navigate-menu__list">
        <li class="navigate-menu__item">
          <a href="/subscribe" class="navigate-menu__link">
            Заказать
          </a>
        </li>
        <li class="navigate-menu__item">
          <a href="/login" class="navigate-menu__link">
            Авторизация
          </a>
        </li>
        <li class="navigate-menu__item">
          <a href="/register" class="navigate-menu__link">
            Регистрация
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>