<section class="login">
  <h1 class="login__title">
    Авторизация
  </h1>
  <form action="/login" method="POST" class="login__form">
    <input type="text" placeholder="Электронная почта" class="register-email" name="email">
    <input type="text" placeholder="Пароль" class="register-pass" name="password">
    <input type="submit" class="accept" value="Войти">
  </form>
</section>