<section class="register">
  <h1 class="register__title">
    Регистрация
  </h1>
  <form action="/register" method="POST" class="register__form">
    <input type="text" placeholder="Имя пользователя" class="register-name" name="username">
    <input type="text" placeholder="Электронная почта" class="register-email" name="email">
    <input type="text" placeholder="Пароль" class="register-pass" name="password">
    <input type="text" placeholder="Повторите пароль" class="register-pass">
    <input type="submit" class="accept" value="Регистрация">
  </form>
</section>