<section class="subscribe">
  <div class="wrapper">
    <h1 class="subscribe__title">
      Виды подписки
    </h1>
    <div class="subscribe-types">
      <div class="subscribe-type">
        <h1 class="subscribe-type__title">
          Начальная
        </h1>
        <h1 class="subscribe-type__info">
          До 50
          паролей
          одновременно
        </h1>
        <h1 class="subscribe-type__info">
          Нет
          SMS-информирования
        </h1>
        <h1 class="subscribe-type__info">
          Доступна поддержка сервиса
        </h1>
        <h1 class="subscribe-type__info">
          Нет
          расширенного
          набора функций
        </h1>
        <a href="/" class="buy-link">Получить бесплатно</a>
      </div>
      <div class="subscribe-type">
        <h1 class="subscribe-type__title">
        Начальная
        </h1>
        <h1 class="subscribe-type__info">
          До 1000
          паролей
          одновременно
        </h1>
        <h1 class="subscribe-type__info">
          Нет
          SMS-информирования
        </h1>
        <h1 class="subscribe-type__info">
          Доступна поддержка сервиса
        </h1>
        <h1 class="subscribe-type__info">
          Нет
          расширенного
          набора функций
        </h1>
        <a href="/" class="buy-link">Заказать за 50$/мес.</a>
      </div>
      <div class="subscribe-type">
        <h1 class="subscribe-type__title">
        Начальная
        </h1>
        <h1 class="subscribe-type__info">
          До 10000
          паролей
          одновременно
        </h1>
        <h1 class="subscribe-type__info">
          Есть
          SMS-информирование
        </h1>
        <h1 class="subscribe-type__info">
          Доступна поддержка сервиса
        </h1>
        <h1 class="subscribe-type__info">
          Есть
          расширенный
          набор функций
        </h1>
        <a href="/" class="buy-link">Заказать за 100$/мес.</a>
      </div>
    </div>
  </div>
</section>